@inherits LayoutComponentBase

<nav class="main-nav">
    <a class="brand" href="/">slice/link</a>
    <div class="nav-links">
        <NavLink href="/" Match="NavLinkMatch.All">Home</NavLink>
        <NavLink href="/admin">Admin</NavLink>
    </div>
</nav>

<main>
    @Body
</main>
